ul li {
  position: relative;
}

ul li a {
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: large;
}

ul li a:hover {
  color: #61dafb; /* Change text color on hover */
  cursor: pointer;
}

ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px; /* Adjust based on where you want the line */
  width: 0;
  height: 2px;
  background-color: #61dafb; /* Underline color */
  transition: width 0.3s ease;
}

ul li a:hover::after {
  width: 100%; /* Underline expands on hover */
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
